.listWrapper {
    display: flex;
    font-weight: 600;
    gap: 80px;
    list-style-type: none;
}

.listWrapper a:hover {
    color: rgb(95, 84, 84);
    cursor: pointer;
}

.navWrapper {
    color: white;
    display: flex;
    flex-direction: column;
    height: 8vh;
    justify-content: center;
    align-items: right;
}
